{% extends "base.html" %}

{% block title %}Editing "{{page.path}}"{% endblock %}

{% block content %}
	<form method="POST" action="">
	  <div><input type="text" name="title" size="75"
				  value="{{page.title}}" /> (title)</div>
	  <div>http://debris.nearfar.org/<input type="path" name="path" size="50"
											value="{{page.path}}" /> (path)</div>
	  <div>
		<textarea style="height: 600px; width: 600px;" name="content">{{page.content}}</textarea>
	    (<a href="https://addons.mozilla.org/en-US/firefox/addon/4125">firefox</a>
	     and emacs are your friends)
	  </div>
	  <div><input type="checkbox" name="belongs_to_blog"
				  {% if page.belongs_to_blog %}checked{% endif %} />
		Belongs to blog</div>
	  <div>
		<input type="submit" value="Save" />
		<input type="submit" value="Save as draft" {% if not page.draft %} disabled {% endif %} />
	  </div>
	</form>
{% endblock %}