{% extends "base.html" %}

{% block title %}Editing "{{page.path}}"{% endblock %}

{% block content %}
	<form method="POST" action="">
	  
	  <fieldset>
		<legend>Editing "{{page.path}}"</legend>
	  
		<p><label for="titleID">Title</label><br/>
		   <input  id="titleID" type="text" name="title" size="75" value="{{page.title}}" />
		  
		<p><label for="pathID">Path (www.nearfar.org/&lt;Path&gt;)</label><br/>
	       <input  id="pathID" type="path" name="path" size="50" value="{{page.path}}" />
		   
		<p><label for="contentID">Content</label><br/>
    	   <textarea id="contentID" style="height: 600px; width: 600px;" name="content">{{page.content}}</textarea>
		
		<p><label for="tagsID">Tags (eg: "Python GoogleAppEngine CookbookRecipes")</label><br/>
		   <input  id="tagsID" type="text" name="tags" size="75" value="{{page.tags|join:" " }}" />

		<p><input type="checkbox" name="belongs_to_blog"
				  {% if page.belongs_to_blog %}checked{% endif %} />
		Belongs to blog
	    </p>
		
	  <div>
		<input type="submit" value="Save" />
		<input type="submit" value="Save as draft" {% if not page.draft %} disabled {% endif %} />
	  </div>
	</form>
{% endblock %}