div.container {
	/* since blueprintcss sets the font-size to 75%, we
	 * increase the size again here */
	font-size: 120%; 
}

div.page h2 a{
	text-decoration: none;
	color: inherit;
}

div.footer {
	text-align: right;
}

ul.raw {
	list-style-type: none;
	margin: 0 0 0 1em;
	padding: 0;
}