div.container {
	/* since blueprintcss sets the font-size to 75%, we
	 * increase the size again here */
	font-size: 120%; 
}

a.draft { 
  color: red !important;
}

div.page h2 a{
	text-decoration: none;
	color: inherit;
}

div.footer {
	text-align: right;
}

ul.raw {
	list-style-type: none;
	margin: 0 0 0 1em;
	padding: 0;
}

p.page_meta {
	font-size: 80%;
	color: #999999;
	float: right;
}

p.page_meta a {
	text-decoration: none;
	color: inherit;
}

p.page_meta a:hover {
	color: black;
}

/* used by Pygments sourcecode rst directive */
div.highlight {
	background-color: transparent;
	padding-left: 20px;
}